<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <h3>Patient Details</h3>
            <div class=""><label><b>Name: </b></label> {{appointmentData.patient_name}}</div>
            <div class=""><label><b>Email: </b></label> {{appointmentData.patient_email}}</div>
            <div class=""><label><b>Phone: </b></label> {{appointmentData.patient_phone}}</div>
            <div class=""><label><b>Gender: </b></label> {{appointmentData.patient_gender}}</div>
            <div class=""><label><b>Address: </b></label> {{appointmentData.patient_address}}</div>
        </div>
        <div class="col-lg-6">
            <h3>Appointment Details</h3>
            <div class=""><label><b>Appointment ID: </b></label> {{appointmentData.appointment_id}}</div>
            <div class=""><label><b>Appointment Date: </b></label> {{appointmentData.appointment_date_time | date:'h:mm E d:MMM:yyyy'}}</div>
            <div class=""><label><b>Category: </b></label> {{appointmentData.main_category}}</div>
            <div class=""><label><b>Sub Category: </b></label> {{appointmentData.sub_category}}</div>
            <div class=""><label><b>Final Service: </b></label> {{appointmentData.service_name}}</div>
            <div class=""><label><b>Appointment Status: </b></label> {{appointmentData.status}}</div>
        </div>
        <div class="col-lg-12">
            <h4>Select Staff</h4>
                <select class="mb-2" name="consultantList" [(ngModel)]="consultantObj">
                    <option *ngFor="let x of consultantList;" [ngValue]="x">{{x.name}}</option>
                </select>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-primary" (click)="acceptAppointment(appointment_id)">Accept</button>
            <button class="btn" (click)="rejectAppointment(appointment_id)">Reject</button>
        </div>
    </div>
</div>