<h1> Add New Staff </h1>
<form [formGroup] = "consultant" (ngSubmit)="onSubmit()">
    <div class="form-group row">
    <div class="col-md-12">
        <label class="btn btn-primary" for="pic">Choose File</label>
        <input type="file" (change)="onFileChange($event)" class="form-control-file" id="exampleFormControlFile1">
    </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
        <label>Name</label>
        <input  type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="col-md-6">
            <label for="designation">Designation</label>
            <input  type="text"  formControlName="designation" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
        <label>Email</label>
        <input  type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
        </div>
        <div class="col-md-6">
            <label for="number">Number</label>
            <input  type="text"  formControlName="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Enter your number">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label for="type">Type</label>
            <input  type="text"  formControlName="type" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
        <label>Skills</label>
        <input  type="text"  formControlName="skills" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Enter Skills">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>