<h1> Add Service </h1>
<form>
<div class="form-group row">
        <div class="col-md-6">
        <label for="categoryName">Category</label>
        <input type="text"  name="categoryName" [(ngModel)]="categoryName" class="form-control" disabled id="categoryName" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="col-md-6">
            <label for="subcategoryName">Sub Category</label>
            <input type="text"  name="subCategoryName" [(ngModel)]="subCategoryName" class="form-control" disabled id="subcategoryName" aria-describedby="emailHelp" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
        <label for="serviceName">Name</label>
        <input type="text"  name="serviceName" [(ngModel)]="serviceName" disabled class="form-control" id="serviceName" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="col-md-6">
            <label for="arabicName">Arabic Name</label>
            <input type="text"  name="serviceNameArabic" [(ngModel)]="serviceNameArabic" disabled class="form-control" id="arabicName" aria-describedby="emailHelp" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label>Short Description</label>
            <textarea class="form-control" name="serviceShortDescription" [(ngModel)]="serviceShortDescription" rows="2"></textarea>
        </div>
        <div class="col-md-6">
            <label for="descriptionArabic">Short Arabic Description</label>
            <textarea class="form-control" name="serviceShortDescriptionArabic" [(ngModel)]="serviceShortDescriptionArabic" rows="2"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="description">Description</label>
            <textarea class="form-control"  name="serviceDescription" [(ngModel)]="serviceDescription" id="description" rows="3"></textarea>
        </div>
        <div class="col-md-6">
            <label for="descriptionArabic">Arabic Description</label>
            <textarea class="form-control"  name="serviceDescriptionArabic" [(ngModel)]="serviceDescriptionArabic" id="descriptionArabic" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="shortDescription">Charges</label>
            <input type="number"  name="charges" [(ngModel)]="charges" class="form-control" id="charges" aria-describedby="emailHelp" placeholder="charges">
        </div>
        <div class="col-md-6">
            <label for="shortDescription">Conveyance Charges</label>
            <input type="number"  name="conveyanceCharges" [(ngModel)]="conveyanceCharges" class="form-control" id="charges" aria-describedby="emailHelp" placeholder="Conveyance Charges">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="time_to">Time To</label>
            <input type="number"  name="time_to" [(ngModel)]="timeTo" class="form-control" id="time_to" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="col-md-6">
            <label for="time_from">Time from </label>
            <input type="number"  name="time_from" [(ngModel)]="timeFrom" class="form-control" id="time_from" aria-describedby="emailHelp" placeholder="">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>