<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
        <th>ID</th>
        <th>Patient Name</th>
        <th>Patient Address</th>
        <th>Patient Mobile</th>
        <th>Main Service</th>
        <th>Sub Service Category</th>
        <th>Sub Service</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Payment Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of patientList">
        <td>{{ x.id }}</td>
        <td>{{x.patient_name}}</td>
        <td>{{ x.patient_address}}</td>
        <td>{{ x.patient_mobile}}</td>
        <td>{{ x.main_service }}</td>
        <td>{{ x.sub_service_category}}</td>
        <td>{{ x.sub_service}}</td>
        <td>{{ x.total_price}}</td>
        <td>{{ x.status}}</td>
        <td>{{x.payment_status}}</td>
        </tr>
    </tbody>
</table>
<ngx-spinner></ngx-spinner>