<section id="content" class="mt-md-5">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <h1>Reset Password</h1>
        <div>
            <label>Enter your mobile number</label>
            <input type="text" formControlName="mobile" placeholder="Mobile" required="" id="mobile" />
        </div>
        <div>
            <label>Enter Password</label>
            <input type="password" formControlName="password" placeholder="Enter new password" required="" id="password" />
        </div>
        <div>
            <input type="submit" [disabled]="!resetPasswordForm.valid" value="Submit" />
            <a [routerLink]="['/login']">Have an account</a>
        </div>
    </form>
    <!-- form -->

</section>
<!-- content -->