<h1> Update Service </h1>
<form>
    <div class="form-group row">
        <div class="col-md-6">
        <label>Name</label>
        <input type="text" class="form-control" name="service_name" [(ngModel)]="service_name" placeholder="Enter Name">
        </div>
        <div class="col-md-6">
            <label>Arabic Name</label>
            <input type="text" class="form-control" name="service_name_arabic" [(ngModel)]="service_name_arabic" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label>Short Description</label>
            <textarea class="form-control" name="service_short_description" [(ngModel)]="service_short_description" rows="2"></textarea>
        </div>
        <div class="col-md-6">
            <label for="descriptionArabic">Short Arabic Description</label>
            <textarea class="form-control" name="service_short_description_arabic" [(ngModel)]="service_short_description_arabic" rows="2"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label>Description</label>
            <textarea class="form-control" name="service_description" [(ngModel)]="service_description" rows="3"></textarea>
        </div>
        <div class="col-md-6">
            <label for="descriptionArabic">Arabic Description</label>
            <textarea class="form-control" name="service_description_arabic" [(ngModel)]="service_description_arabic" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label for="shortDescription">Charges</label>
            <input type="text" class="form-control" name="charges" [(ngModel)]="charges" placeholder="charges">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="shortDescriptionArabic">Start Time </label>
            <input type="text" class="form-control" name="time_from" [(ngModel)]="time_from" placeholder="">
        </div>
        <div class="col-md-4">
            <label for="shortDescription">End Time</label>
            <input type="text" class="form-control" name="time_to" [(ngModel)]="time_to" placeholder="">
        </div>
        <div class="col-md-4">
            <label for="offer">Offer</label>
            <input type="text"  name="offer" [(ngModel)]="offer" class="form-control" id="charges" aria-describedby="emailHelp" placeholder="Offer">
        </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>
<ngx-spinner></ngx-spinner>