<section id="content" class="mt-md-6">
    <h1>Register</h1>
    <form [formGroup]="register" (ngSubmit)="onSubmit()">
        <div class="form-group row mb-2">
            <div class="col-md-6">
                <label class="input-label" for="exampleInputEmail1">Name</label>
                <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" />
            </div>
            <div class="col-md-6">
                <label class="input-label" for="License_number">License Number</label>
                <input type="tel" formControlName="license_number" class="form-control" id="License_number" aria-describedby="emailHelp" placeholder="Enter License" />
            </div>
        </div>

        <div class="form-group row mb-2">
            <div class="col-md-6">
                <label class="input-label" for="mobNumber">Mobile Number</label>
                <input type="tel" formControlName="mobile_number" class="form-control" id="mobNumber" aria-describedby="emailHelp" placeholder="Mobile Number" />
            </div>
            <div class="col-md-6">
                <label class="input-label" for="City">City</label>
                <input type="text" formControlName="city" class="form-control" id="City" aria-describedby="emailHelp" placeholder="Enter City" />
            </div>
        </div>
        <div class="form-group row mb-2">

            <div class="col-md-6">
                <label class="input-label" for="Email">Email</label>
                <input type="email" formControlName="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" />
            </div>
            <div class="col-md-6">
                <label class="input-label" for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter Password" />
            </div>
        </div>
        <div class="form-group">
            <label class="btn btn-dark text-dark " for="exampleFormControlFile1">Select Image</label>
            <input type="file" (change)="onFileChange($event)" class="form-control-file" id="exampleFormControlFile1" />
        </div>
        <button type="submit" [disabled]="!register.valid" class="btn btn-primary">Register</button>
    </form>
</section>