<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
        <th>ID</th>
        <th>Patient Name</th>
        <th>Patient Address</th>
        <th>Patient Mobile</th>
        <th>Main Service</th>
        <th>Sub Service Category</th>
        <th>Sub Service</th>
        <th>Total Price</th>
        <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of patientRequestList">
        <td>{{ x.id }}</td>
        <td>{{x.patient_name}}</td>
        <td>{{ x.patient_address}}</td>
        <td>{{ x.patient_phone}}</td>
        <td>{{ x.main_category }}</td>
        <td>{{ x.sub_category}}</td>
        <td>{{ x.service_name}}</td>
        <td>{{ x.total_price}}</td>
        <td>{{ x.status}}</td>
        </tr>
    </tbody>
</table>