<div>
    <button [routerLink]="['/consultant-details']" class="bnt btn-primary add-btn">Add</button>
</div>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Type</th>
        <th>Status</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of items">
        <td>{{ x.id }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.designation}}</td>
        <td>{{ x.type}}</td>
        <td>{{ x.status}}</td>
        <td>
            <button class="" (click)="onUpdateConsultant(x.id)">Update</button>
        </td>
        </tr>
    </tbody>
</table>